# Project isolation
export GCP_PROJECT="ut-dnr-ugs-maps-prod"
export GOOGLE_APPLICATION_CREDENTIALS="$HOME/.config/gcloud/application_default_credentials.json"
export WAREHOUSE_PUBLIC_BASE_URL="https://maps-assets.geology.utah.gov"
export OVERRIDE_DATA_PATH="True"

# Helper to swap gcloud project automatically
gcloud config set project $GCP_PROJECT
